body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: 90%;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #555;
    padding: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    max-width: 280px; /* Restrict button width */
    padding: 10px; /* Adjust padding */
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em; /* Adjust font size */
    color: #fff;
    background-color: #777;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #999;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 35%;
    }

    .right {
        width: 65%;
    }

    .title {
        font-size: 2.5em; /* Restore larger font size for larger screens */
    }

    .description {
        font-size: 1.2em; /* Restore larger font size for larger screens */
    }

    .button {
        font-size: 1.5em; /* Restore larger font size for larger screens */
        padding: 15px; /* Restore larger padding for larger screens */
    }
}
