body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: 90%;
    background-color: #2c2b2b;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #050404;
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #151515;
    padding: 10px;
    width: 100%;
}

.title {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #777;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #272424;
    border: 2px solid #424141;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
}

.button:hover {
    background-color: #999;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 20%;
        padding: 20px;
    }

    .right {
        width: 80%;
        padding: 20px;
    }

    .title {
        font-size: 2.5em;
    }

    .skill {
        font-size: 1.5em;
    }

    .button {
        font-size: 0.8em;
        padding: 10px;
    }
}
